<!DOCTYPE html>
<html lang="en">

<%- include('partials/meta.ejs') %>

<body>
    <%- include('partials/header') %>
    <main>
        <div class="container">
            <a class="add-article" href="/new">New Article</a>
            <% articles.forEach(function(article){ %>
            <div class="article">
                <div class="article-title">
                    <a class="a-title" href="#">
                        <h2><%= article.title %></h2>
                    </a>
                </div>
                <hr>
                <div class="article-body">
                    <p><%= article.body %></p>
                </div>
                <br>
                <div class="article-footer">
                    <a class="delete-article" href="#">Delete</a>
                </div>

            </div>
            <% }) %>
        </div>
    </main>
    <%- include('partials/footer.ejs') %>
</body>

</html>